<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<center>
    <form method="post" action="/">
        <label>
            <textarea id="customInput" placeholder="wpisz swój tekst" rows="10" cols="100"></textarea><br>
            <input type="submit" value="Sprawdź w Java">
<!--            <div id="charCount"></div>-->

            <!--            <span>-->
<!--                    Ilość liter: <span id="chars">0</span>,<br>-->
<!--                    Ilość wyrazów: <span id="words">0</span>,<br>-->
<!--                    Ilość zdań: <span id="questions">0</span>-->
<!--                </span>-->
        </label>
    </form>
    <table border="5">
        <tr>
            <td width="300">
                <h1>JavaScript</h1>
<!--                <div id="charCount">0</div>-->
<!--                <div id="wordsCount"></div>-->
<!--                <div id="sentencesCount"></div>-->

                <span>
                    Ilość liter: <span id="charCount">0</span>,<br>
                    Ilość wyrazów: <span id="words">0</span>,<br>
                    Ilość zdań: <span id="questions">0</span>
                </span>
            </td>
            <td width="300">
                <h1>Java</h1>


            </td>
        </tr>
    </table>
</center>
<script src="js/counter.js"></script>
</body>
</html>